<%- include('header') -%>


	<form id="signupForm" class="row g-3" autocomplete="on">
		<!--Mu Changes-->
		<div class="col-md-6">
			<label for="inputEmail4" class="form-label">User Name / Email</label>
			<input name="email" type="email" class="form-control" id="email" required />
		</div>
		<div class="col-md-6">
			<label for="inputState" class="form-label">Name</label>

			<input name="name" type="text" class="form-control" id="name" required />
		</div>

		<div class="col-md-6">
			<label for="inputPassword4" class="form-label">Password</label>
			<input name="password" type="password" class="form-control" id="password" required>
		</div>
		<div class="col-md-4">
			<label for="inputPassword4" class="form-label">Confirm Password</label>
			<input name="confirmPassword" type="password" class="form-control" id="confirmPassword" required>
			<option>...</option>
			</select>
		</div>

		<div class="col-12">
			<button type="submit" class="btn btn-primary">Sign up</button>
		</div>
	</form>

	<h1>already a consumer please log in here!! <a href="/"> login</a></h1>

	<script>


		$('#signupForm').submit((e) => {
			e.preventDefault();

			let password = $('#password').val();
			let confirmPassword = $('#confirmPassword').val();
			let email = $('#email').val();
			let name = $('#name').val();
			console.log(password, confirmPassword, email, name)

			if (password == '' || confirmPassword == '' || email == '' || name == '') {
				alert('Enter all details')
			} else {

				if (password.length < 6) {
					alert('password needs to be atleast 6 characters!!')
				} else {
					if (password !== confirmPassword) {
						alert('password does not match')
					} else {
						$.post('/signup', { email: email, password: password, name: name }, (res) => {

							console.log(res.code);

							if (res.code == 0) {
								alert(res.msg)
								window.location.href = '/signup';
							} else {

								alert("you are succesfully registered and log in now!!")
								window.location.href = '/';

							}


						})
					}


				}
			}

		})


	</script> -->



	<%- include('footer') -%>
